body {
	color:black;
	background-color:white;
	background-image:url(fond.jpg);
    background-size:cover;
    margin:0;
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
}
h1 {
	text-align: center;
	font-size: 2.5em;
}
p {
    font-family: "Times New Roman", Times, serif;
}
h4.italic {
    font-style: italic;
    text-shadow: 1px 1px;
}
img {
	margin:1%;
}
i {
	margin: 5px;
}
.link-btn 
{
 background:none!important;
 color:inherit;
 border:none; 
 padding:0!important;
 font: inherit;
 /*border is optional*/
 border-bottom:1px solid #444; 
 cursor: pointer;
}


/* LIST */
ul.tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
/*TEST*/
.tree a, button-nav{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.tree {
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* END TEST */




/* Change the link color on hover */
ul.tree li a:hover {
    background-color: #555;
    color: white;
}
/*  END LIST */

/* FORM */
.form {
  padding-bottom: 1.25rem;
}
.form input, textarea {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .4s ease-out;
  /*transition: border-color .4s ease-in;*/
}
.form input:optional, textarea:optional {
  border-left-color: grey;
}
.form input:required, textarea:required{
  border-left-color: palegreen;
}
.form input:invalid, textarea:invalid {
  border-left-color: salmon;
}
.form input:valid, textarea:valid {
  border-left-color: green;
}

/* END FORM */

/* ******************************* TOOLTIP *************************** */
/* Tooltip container *
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text *
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text *
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip *
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow *
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container *
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}  
/* ******************************* END-TOOLTIP *************************** */

/* TREE */
#menuB {
	outline: none;
}

.hiddenMenu {
	display:none;
}

.shownMenu {
	display:block;
}

/* END TREE */
/* RESPONSIVE VIEW */
* {
    box-sizing: border-box;
}
.menu {
    width: 25%;
    float: left;
    border: 2px solid black;
    overflow: hidden;
}
.main {
    width: 50%;
    float: left;
    border: 2px solid black;
    overflow: hidden;
}
.intro {
    width: 25%;
    float: left;
    border: 2px solid black;
    overflow: hidden;
}
/*END RESPONSIVE VIEW */

/* BREADCRUMB NAVIGATION */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* END BREADCRUMB NAVIGATION */


/*Dropdown Menu */
.hiddenMenu{
    display: none;
}
.shownMenu{
    display: block;
}
/*END Dropdown Menu */

