table, th, td {
    border: 1px solid black;
    padding: 1px;

}
td {
  text-align: center;
}
tr{
  background-color: #f2f2f2
}
th {
    background-color: #4CAF50;
    color: white;
}


/*GRID VIEW*/
.pics {
	grid-area: pics; 
}
.main1 { 
	grid-area: main; 
} 
.menu1 { 
	grid-area: menu; 
}
.footer { 
	grid-area: footer; 
}
.docs{ 
	grid-area: docs; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu pics pics'
    'menu main main'
    'menu main main'
    'docs docs docs'
    'footer footer footer';
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
}
.grid-container > div {
  background-color: grey;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
/* END GRID VIEW */